body {
  background-color: black;
  color: azure;
  font-size: 20px;
}

.container {
  background-color: gray;
  font-style: italic;
  border: 2px solid yellow;

}

.container p {
  font-weight: bold;

}


.container h1 {
  color: black;
}

header {
  background-color: green;
  color: white;

}

footer {
  background-color: blue;

}